extends layout
block content
    div.tableContainer
        table
            thead
                tr
                    td.tableItem Name
                    td.tableItem User
            tbody
                each collection in allCollections
                    tr
                        td.tableItem= collection.name
                        td.tableItem= collection.User.username
                        td.tableItem: a(href=`/collections/${collection.id}`).nav-link-active Click to see more info
