doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav
      a(href="/") Home
      a(href="") Collection
      if locals.authenticated
        a(href="/users/logout") Log out
        a(href="#") My Profile
      else
        a(href="/users/login") Log In
        a(href="/users/register") Register
        a(href="/users/login/demo") Demo User

    block content
