extends layout

block content
    h1= `${specifiedUser.username}'s Collections`
        ul
            each collection in collections
                h2
                    a(href=`/collections/${collection.id}`)= `${collection.name}`
